<!-- Этот шаблон содержит форму для отправки поста по электронной почте и часть для вывода сообщения об успешной отправке -->
{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
    {% if sent %}
        <h1>E-mail успешно отправлен</h1>
        <p>
            '{{ post.title }}' был успешно отправлен на адрес '{{ form.cleaned_data.to }}.'
        </p>
        {% else %}
        <h1>Поделиться "{{ post.title }}" по e-mail</h1>
        <form method="post" novalidate>
            {% csrf_token %}

            <div class="mb-2">
                {{ form.name }}
                {% if form.name.errors %}
                    <div class="text-danger">
                        {{ form.name.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="mb-2">
                {{ form.email }}
                {% if form.email.errors %}}
                    <div class="text-danger">
                        {{ form.email.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="mb-2">
                {{ from.to }}
                {% if form.to.errors %}
                    <div class="text-danger">
                        {{ form.to.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="mb-2">
                {{ form.comments }}
                {% if from.commets.errors %}
                    <div class="text-danger">
                        {{ form.comments.errors }}
                    </div>
                {% endif %}
            </div>

            <input type="submit" value="Отправить" class="btn btn-primary mb-3">
        </form>

    {% endif %}

<p><a href="{{ post.get_absolute_url }}">Вернуться к посту</a></p>

{% endblock %}